<h1>Public::Posts#new</h1>
<p>Find me in app/views/public/posts/new.html.erb</p>
<h1>新規投稿</h1>
<!-- form_with部分 -->
<%= form_with model: Post.new do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
	
  <h4>本文</h4>
  <%= f.text_area :body %>
	
  <%= f.submit '投稿' %>
<% end %>
<%#= form_for @post do |f| %>
   <%#= f.label :content,"内容" %>
   <%#= f.text_field :content %>
   <%#= f.select :category, [["ALL", "all"], ["月齢", "age"], ["地域", "region"]], ["情報", "infomation"], ["質問", "question"], include_blank: "どの投稿？" %>
   <%#= f.submit "投稿する" %>
  <%# end %>
