<div class="container">
  <div class="row no-gutters">
    <div class="col-md-6">
      <h1><%= @post.name %>さんの投稿</h1>
      <p>Find me in app/views/admin/posts/index.html.erb</p>
    </div>
  </div>
</div>
