/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
 font-family: 'Zen Maru Gothic', sans-serif;
 }
 
 #header {
  background-color : #D9E5FF; /* ヘッダの背景色 */
 }
 
 
 .jumbotron {
  background:url(ayame.jpg) center no-repeat; 
  background-size: auto; 
  height: 400px;
}

.headwrap{
	background:url(f.jpg) no-repeat center top;
	background-size: auto; 
 height: 200px;
} 

 
 footer {
  color: #2E8B57;
  margin-top: auto;
  background: #D9E5FF;
}
footer a{
 text-decoration: none;
}