/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
 font-family: 'Zen Maru Gothic', sans-serif;
 }
 
 #header {
  background-color : #D9E5FF; /* ヘッダの背景色 */
 }
 
 
 .jumbotron {
  background:url(ayame.jpg) center no-repeat; 
  background-size: auto; 
  height: 400px;
}

.headwrap{
	background:url(f.jpg) no-repeat center top;
	background-size: auto; 
 height: 200px;
} 

 
 footer {
  color: #2E8B57;
  margin-top: auto;
  background: #D9E5FF;
}


.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab_label {
  color: #75A9FF;
  font-weight: bold;
  border: solid 2px #75A9FF;
  position: relative;
  z-index: 1;
  cursor: pointer;
  flex: 1;
  padding: 5px 0;
  margin: 0 5px; 
}

.tab_label:hover {
  opacity: 0.75;
}

.tab_content {
  flex: 100%;
  display: none;
  overflow: hidden;
}

input[name="tab_switch"] {
  display: none;
}

.tabs input:checked + .tab_label {
  color: #fff;
  background-color: #75A9FF;
}
.tabs input:checked + .tab_label::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #75A9FF transparent transparent transparent;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  transition: all 0.3s ease 0s;
}

#all:checked ~ #all_content,
#月齢:checked ~ #月齢_content,
#地域:checked ~ #地域_content,
#情報:checked ~ #情報_content,
#質問:checked ~ #質問_content {
  display: block;
}

.tab_content{
  position: relative;
  animation: fadeIn 1s ease;
}